@page "/"

@inherits ProductBase



@if (Products == null)
    {
        <h3>Loading products...</h3>
    }
    else
    {
        <h3 class="mb-5">Products</h3>
        var productCount = Products.Count();



        @if(productCount > 0)
        {
            const int itemPerRow = 4;
            var productRowList = new List<ProductDto>(); 



            @for (int i = 0; i<productCount; i++)
              {
                productRowList = Products.Skip(i * itemPerRow).Take(itemPerRow).ToList();

                    <div class="row mt-3">

                        <DisplayProducts Products ="@productRowList"></DisplayProducts>
                       </div> 
                  
              }

        }
    }